/* базовые Оптимальные настройки для вёрстки сайта*/

html {
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    text-decoration: none; /*уберем у ссылок родной стиль*/
    color: inherit; /*наследует цвет у родителя*/
}

ul{
    list-style: none; /*убрали точки у марк списка*/
}

.container{
    max-width: 1240px; /*макс ширина согласно макету фигмы*/
    margin: 0 auto; /* по центру*/
    padding-left: 20px;
    padding-right: 20px;
}

body{
    color: #151618;
    font-family: "Open Sans", sans-serif;
    /*font-family: "Cormorant", serif;*/
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}

.header__wrapper{
    display: flex; /*всегда будет подстраиваться под размеры*/
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    min-height: 140px;
   
}

.logo{
    margin-bottom: 35px;
}

.menu__list{
    display: flex;
    align-items: center; /*выравнивание по линии по центру*/
    gap: 0 65px; /*отступы друг от друга согласно макету*/
    font-weight: 400;
    font-size: 18px;
    margin-left: 85px;
}

.user-actions{
    display: flex;
    align-items: center; /*выравнивание по линии по центру*/
    gap: 0 20px; /*отступы друг от друга согласно макету*/
}

.user-actions__item-search{
    margin-left: 80px; /*отдельный отступ для поиска по макету*/
}

.top {
    background-image: url(../images/top-bg.jpg); /*добавили нашу фоновую картинку*/
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.top__inner {
    min-height: 500px;
    color: #FFFFFF;
    font-family: "Cormorant", serif;
    font-weight: 400;
    display: flex; /*превратили наш блок во флекс контейнер*/
    flex-direction: column; /*элементы идут столбиком сверху-вниз*/
    justify-content: flex-end; /*прижали флекс элементы к краю, где заканчивается основная ось. Из-за flex-direction: coloumn у нас наша основная ось вертикальная и идя сверхи вниз она заканчивается снизу. Значит, мы прижали флекс элемент к низу флекс-контейнера. Если бы у нас было не coloum (колонка) а просто в ряд друг за другом шли элементы, то прижалось бы к правому краю, потому что основная ось по горизонтали идет слева направо, а не сверхи вниз*/
}

.top__title {
    font-size: 60px;
    margin-bottom: 20px;
    max-width: 790px;
    line-height: 1;
    font-weight: 400;
}

.top__text {
    font-size: 24px;
    margin-bottom: 48px;
    max-width: 560px;
    line-height: normal;
}

.blockquote__text {
    text-align: center;
    font-family: "Cormorant", serif;
    font-style: italic;
    line-height: normal;
    font-size: 40px;
    max-width: 704px;
    margin: 150px auto;
}

@media (max-width:1000px) { /*делаем ширину для разных экранов*/
    .user-actions__item-search {
        margin-left: 30px;
    }
    .menu {
        margin-right: auto;
    }
    .menu__list {
        margin-left: 60px;
    }
}
@media (max-width:768px) { /*делаем ширину для разных экранов*/

}
@media (max-width:480px) { /*делаем ширину для разных экранов*/

}
@media (max-width:360px) { /*делаем ширину для разных экранов*/

}